
[Unit]
Description=matsuba - the lightweight japanese ime

[Service]
Type=simple
WorkingDirectory=
ExecStart=matsud
Restart=always

[Install]
WantedBy=multi-user.target

