
[Unit]
Description=matsuba - the lightweight japanese ime

[Service]
Type=simple
Restart=always
Environment="RUST_LOG=info"
ExecStart= matsud

[Install]
WantedBy=multi-user.target

